<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC5DessertCafe</title>
    @Styles.Render("~/Content/css")
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.magnific-popup.js")
    

</head>
<body>
    <div class="top-container">
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                        <i class="fa fa-cutlery"></i> MVC5DessertCafe
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Menu", "Index", "Foods")</li>
                        <li>@Html.ActionLink("Gallery", "Gallery", "Foods")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer-container">
        <footer class="navbar navbar-inverse">
            <div class="container text-center">
                <div class="navbar">
                    <div class="row">
                        @Html.Partial("_LoginPartial")
                    </div>

                    <div class="row">
                        <p>
                            <b>&copy; Angie Siu</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://angiesiudevworks.com" target="_blank"><i class="fa fa-terminal"></i> angie siu dev works</a>
                            <br />
                            <em>All dessert images are property of Angie Siu.</em>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/Scripts/myscripts/tabactive.js")

    @RenderSection("scripts", required: false)
    
</body>
</html>
